
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
    font-family: "Roboto Mono", monospace;
    margin: 0px;
}

.container title{
    width: 900px;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}

img {
    background-color: rgba(243, 219, 204, 0.658);
    height: 180px;
    margin-bottom: 15px;
    background-size:auto;
    border-radius: 20px 20px 0 0;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    flex-wrap: wrap;
    cursor: pointer;
}


.listaProdutos .item{
    display:grid;
    padding: 10px;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows:auto;
}

header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

main{
    margin: 20px;
}

h1{
    text-align: center;
}

h3{
    background-color: rgb(139, 12, 12);
    color: #ffffff;
    border-radius: 30px;
    text-align: center;
}

.navbar ul{
    list-style-type: none;
    background-color: #e7d4d4ec;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    justify-content:center;
    align-items: center;
    display: flex;
    height: 55px;
}

.navbar li span{
    width: 30px;
    height: 30px;
    background-color: rgb(58, 42, 19);
    color: aliceblue;
    border-radius: 50%;
    position:absolute;
    text-align: center;
    margin-top: 25px;
    margin-left: 5px; 
}

.navbar a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color:rgb(158, 122, 101);
    border-radius: 5%;
}

.navbar li{
    float: left;
}

.container {
    max-width: 90vw;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    transition: transform .5s;
    flex-wrap: wrap;    
}

.navbar li img{
    width: 40px;
    height: 45px;
    padding-top: 20px; 
}

.card {
    background: #d8ceceec;
    width: 270px;
    height: 700px;
    margin: 15px;
    border-radius: 20px;
}

/*.card-image {
    background-color: rgba(243, 219, 204, 0.658);
    height: 150px;
    margin-bottom: 15px;
    background-size:cover;
    border-radius: 30px 30px 0 0;
}*/

.listaProdutos .quantidade span{
    text-align: center;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 30px;
    height: 25px;
    color: #000;
}

.listaProdutos .quantidade span:nth-child(2){
    background-color: transparent;
    color: #000;
}

.coffee-1 {
    background-image: url('./imagens/latte-coffee.jpg');
}

.coffee-2 {
    background-image: url('./imagens/cafe-bolo.jpg');
}

.coffee-3 {
    background-image: url('./imagens/milkshake-cafe.jpg');
}

.card h2 {
    padding: 10px;
    text-align: center;
}

.card p {
    padding: 10px;
    text-align: center;
}

.card buttom {
    background-color: rgb(148, 98, 56);
    color: #ffffff;
    padding: 20px 55px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    border-radius: 30px;
}

.card:hover {
    background-color: rgb(158, 122, 101);
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s none;
}

.card buttom:hover{
    background-color: #d8ceceec;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s none;
}

.card a {
    background-color: rgb(148, 98, 56);
    color: #ffffff;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    border-radius: 30px;
}

.cartTab .h1{
    position: fixed;
    gap: 15px;
    margin: 20px 50px;
}

.cartTab{
    width: 400px;
    background-color: rgb(158, 122, 101);
    color: #ffffff;
    position: fixed;
    inset: 0 -400px 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
}

body.mostrar-Carrinho .cartTab{
    inset: 0 0 0 auto;
}
 
body.mostrar-Carrinho .container{
    transform: translateX(-250px);
}

.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 50px;
    gap: 10px;
    padding: 10px 20px;  
}

.cartTab .btn buttom{
    background-color: rgb(243, 238, 233);
    border: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    color: #000;
    border-radius: 30px;
    text-align: center;
    padding: 10px;
}

.cartTab .btn buttom:hover{
    background-color: rgb(0, 0, 0);
    color:#eee;
}

.cartTab .listCart .item img{
    width: 20%;
    height: 2%;
    padding: 5px 5px;
    border-radius: 0%;
    margin-left: 20%;
    margin-top: auto;
}

.cartTab .listCart .item{
    display: grid;
    grid-template-columns:70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.cartTab .listCart .quantidade span{
    display: inline-block;
    width: 20px;
    height: 25px;
    background-color: #ffffff;
    color: #000;
    border-radius: 30px;
    cursor: pointer;
    margin-right: 2%;
}

.listCart .quantidade span:nth-child(2){
    background-color: transparent;
    color: #eee;
}

.cartTab .listCart .item .nome{
    margin: auto;
    margin-left: 15%;
}

.listaProdutos .item:nth-child(even){
    background-color: #eee1;
}

.listaProdutos{
    overflow: auto;
}

.listaProdutos::-webkit-scrollbar{
    width: 0;
}