main{
    margin: 20px;
}

h1{
    text-align: center;
}

.navbar ul{
    list-style-type: none;
    background-color: rgb(163, 167, 170);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: #ffffff;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: rgb(83, 85, 87);
}

.navbar li{
    float: left;
}