main{
    margin: 20px;
}

h1{
    text-align: center;
}

h3{
    background-color: rgb(139, 12, 12);
    color: #ffffff;
    border-radius: 30px;
    text-align: center;
}

.navbar ul{
    list-style-type: none;
    background-color: rgb(163, 167, 170);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: #ffffff;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: rgb(83, 85, 87);
}

.navbar li{
    float: left;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: #d8ceceec;
    width: 270px;
    margin: 15px;
    border-radius: 30px;
}

.card-image {
    background-color: rgba(243, 219, 204, 0.658);
    height: 150px;
    margin-bottom: 15px;
    background-size:cover;
    border-radius: 30px 30px 0 0;
}

.coffee-1 {
    background-image: url('./imagens/latte-coffee.jpg');
}

.coffee-2 {
    background-image: url('./imagens/cafe-bolo.jpg');
}

.coffee-3 {
    background-image: url('./imagens/milkshake-cafe.jpg');
}

.card h2 {
    padding: 10px;
}

.card p {
    padding: 10px;
}

.card button {
    background-color: rgb(63, 34, 0);
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
    border-radius: 30px;
}

.card:hover {
    background-color: rgb(158, 122, 101);
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s none;
}